[Unit]
Description=Airflow scheduler daemon

[Service]
User=airflow
Group=airflow
Type=simple
ExecStart=/home/airflow/.local/bin/airflow scheduler
Environment="AIRFLOW_HOME=/home/airflow/airflow"
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
